/.idea
/.fleet
/shopware-cli
dist/
/completions
/local
/.shopware-cli
/.shopware-project.yml
/test-app
/go-shopware-admin-api-sdk
/*.zip
/FroshTools
/result
/project
dump.sql*

# Devenv
.devenv*
devenv.local.nix

/.direnv